<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/4.12.4/vee-validate.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@vee-validate/rules@4.12.4/dist/vee-validate-rules.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@vee-validate/i18n@4.12.4/dist/vee-validate-i18n.min.js"></script>
</head>
<body>
  <div id="app">
    
    <v-form v-slot="{ errors }" @submit="onSubmit">
      {{ errors }}

      <!-- input -->
      <v-field
        id="email"
        name="email"
        type="email"
        class="form-control"
        :class="{ 'is-invalid': errors['email'] }"
        placeholder="請輸入 Email" rules="email|required"
        v-model="user.email"
      ></v-field>
      <error-message name="email" class="invalid-feedback"></error-message>

      <!-- select -->
      <v-field
        id="area"
        name="area"
        class="form-control"
        :class="{ 'is-invalid': errors['area'] }"
        placeholder="請輸入地區"
        rules="required"
        v-model="user.region"
        as="select"
      >
        <option value="">請選擇地區</option>
        <option value="台北市">台北市</option>
        <option value="高雄市">高雄市</option>
      </v-field>
      <error-message name="area" class="invalid-feedback"></error-message>
      <button type="submit">送出</button>
    </v-form>
    
  </div>

  <script>
    Object.keys(VeeValidateRules).forEach(rule => {
      if (rule !== 'default') {
        VeeValidate.defineRule(rule, VeeValidateRules[rule]);
      }
    });

    // 讀取外部的資源
    VeeValidateI18n.loadLocaleFromURL('./zh-TW.json');

    // Activate the locale
    VeeValidate.configure({
      generateMessage: VeeValidateI18n.localize('zh_TW'),
      validateOnInput: true, // 調整為：輸入文字時，就立即進行驗證
    });
    
    const { createApp } = Vue;
    const app = createApp({
      data(){
        return {
          user: {
            email:''
          }
        }
      },
      methods: {
        onSubmit(){
          console.log(this);
        }
      }
    })

    app.component('VForm', VeeValidate.Form);
    app.component('VField', VeeValidate.Field); // input, selector
    app.component('ErrorMessage', VeeValidate.ErrorMessage);
    
    app.mount('#app')
  </script>
</body>
</html>